<div class="dropdown">
  <button class="<%= defined?(btn_classes) ? btn_classes : 'btn btn-outline-primary btn-sm' %> dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Actions
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to 'Edit Family', edit_admin_family_path(family), class: 'dropdown-item' %></li>
    <li><%= link_to 'View Family', [:admin, family], class: 'dropdown-item' %></li>
    <li><hr class="dropdown-divider"></li>
    <li><%= link_to 'Delete Family', admin_family_path(family, redirect_url: url_for()), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger dropdown-item' %></li>
  </ul>
</div>
