<div id="<%= dom_id @family %>" class='container w-md'>
  <div class='card'>
    <div class='card-header'>
      <h1>You're Done</h1>
    </div>
    <div class='card-body'>
      <p>
        Your holiday wishlists have been completed!
      </p>

      <p>
        Thank you for providing information so we can support your family in celebrating the holidays this year.
        If you have any questions or changes, please contact our Lead Program Coordinators Allie <%= mail_to 'allie@atlantaangels.org' %> and Muniza <%= mail_to 'muniza@atlantaangels.org' %>.
      </p>
    </div>
  </div>
</div>
