<div id="<%= dom_id @family %>" class='container w-md'>
  <div class='card'>
    <div class='card-header'>
      <h1>You're Done</h1>
    </div>
    <div class='card-body'>
      <p>
        Your holiday wishlists have been completed!
      </p>

      <p>
        Thank you for providing information so we can support your family in celebrating the holidays this year.
        If you have any changes or questions, please contact our lead case manager, Olivia, at <%= mail_to 'olivia@atlantaangels.org' %> or text/call at 770-658-7587.
      </p>
    </div>
  </div>
</div>
