<div class='container w-md'>
  <%= render "form", family: @family, title: 'Holidays 2024 - Family RSVP & Requests', description: 'Happy holiday season! We are so excited to continue offering support for all our families and kiddos this year. This form will close October 31.<br>FYI every household will receive a Holiday Love Box with items to help create holiday traditions for everyone in your home.' %>
</div>
