<div class='container w-md'>
  <%= render "form", family: @family, title: 'Holiday Extravaganza 2025 - Wishlists', description: 'Happy holiday season! We are so excited to continue offering support for all our families and kiddos this year. <br>FYI every household will receive a Holiday Love Box with items to help create holiday traditions for everyone in your home.' %>
</div>
