<div class='container w-md'>
  <%= render "form", family: @family, title: 'Holiday Extravaganza 2025 - Wishlists', description: "<b>Happy Holiday Season!</b><br><br> We’re thrilled to continue supporting all of our families this year.<br><br>As part of our holiday giving, every household will receive a Holiday Love Box, filled with items to help create joyful traditions and special moments for everyone in your home.<br><br>We can’t wait to celebrate the season together!" %>
</div>
