<div class='container w-md'>
  <%= render "form", family: @family, title: 'New Family', description: 'Happy holiday season! We are so excited to continue offering support for all our families and kiddos this year. Please share information about your family so we can provide the best support possible. ' %>
</div>
