<div class='row mb-3'>
  <div class='col-sm-6'>
    <%= render 'shared/nav_scopes', items_hash: items_hash %>
  </div>
  <div class='col-sm-6 text-end'>
    <%= render 'shared/search' %>
  </div>
</div>
