<p style="color: green"><%= notice %></p>

<h1>Sponsors</h1>

<div id="sponsors">
  <% @sponsors.each do |sponsor| %>
    <%= render sponsor %>
    <p>
      <%= link_to "Show this sponsor", sponsor %>
    </p>
  <% end %>
</div>

<%= link_to "New sponsor", new_sponsor_path %>
