<p>Hello!</p>

<p>Thank you so much for submitting your 2025 wishlists - below is a confirmation for your records.</p>

<p>
  If you have any changes or questions, please email
  <%= mail_to 'muniza@atlantaangels.org' %> and <%= mail_to 'allie@atlantaangels.org' %> 
  as soon as possible.
</p>

<p>We look forward to serving you and your family!</p>

<p>Atlanta Angels</p>
