<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Created</th>
      <th>Controller</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td>
          <%= event.id %>
        </td>
        <td>
          <%= format_datetime(event.time) %>
        </td>
        <td>
          <%= event.properties['controller'] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav(@pagy) if defined?(@pagy) && @pagy.pages > 1 %>
