<!DOCTYPE html>
<html>
  <head>
    <title>Wishlist</title>
    
    <%= render 'layouts/head' %>
  </head>

  <body>
    <%= render 'layouts/flash_notices' %>
    <div id='main' class='mt-5'>
      <%= yield %>
    </div>
  </body>
</html>
