<!DOCTYPE html>
<html>
  <head>
    <title>Wishlist</title>
    
    <%= render 'layouts/head' %>
  </head>

  <body>
    <%= render 'layouts/flash_notices' %>
    <div id='main' class='mt-5'>
      <%= yield %>
    </div>

    <footer>
      <div class='text-center'>
        <p>Powered by <%= link_to 'SupportNow', 'https://www.supportnow.org/', class: 'text-dark', target: :_blank %></p>
      </div>
    </footer>
  </body>
</html>
